<mjml>
	<!-- head -->
	<mj-head>
		<mj-attributes>
				<mj-all font-family="Helvetica" color="#111">
				</mj-all>
				<mj-class name="title" font-weight="bold" font-size="35px">
				</mj-class>
		</mj-attributes>
		<mj-style>
			a {
				color: #351f53;
				font-style: italic;
				text-decoration: none;
			}
			p {
				font-size:18px;
			}
			/**
			* ***********************************************************
			* INPUTS 
			* ***********************************************************
			*/
			textarea, select, input {
				padding: 0.7em 1em !important;
				background: #f6f6f6 !important;
				border-radius: 15px !important;
				border-width: 0 0 3px 0 !important;
				border-color: #111 !important;
				width: 100% !important;
				color: #666666 !important;
				font-family: helvetica;
			}
			:focus-visible {
				color: #111 !important;
				outline: none !important;
				border-color: #111 !important;
			}
			/**
			* checkboxes 
			*/
			input[type="checkbox"],
			input[type="radio"]{
				width: fit-content !important;
				margin: 5px 10px 5px 0px;
			}
			/**
			* btns 
			*/
			input[type="button"],
			button,
			.pigeon-btn, 
			.button {
				padding: 10px 40px !important;
				background-color: #351f53 !important;
				border-radius: 20px !important;
				color: white !important;
				font-weight: bold !important;
				border-width: 0 !important;
			}
			button[data-mautic-form-pagebreak-button="prev"],
			button[data-mautic-form-pagebreak-button="next"]{
				background-color: var(--pigeon-btn-bg-color) !important;
			}
			button[data-mautic-form-pagebreak-button="next"]{
				float: right;
			}
			/**
			* ***********************************************************
			* BLOCKQUOTES 
			* ***********************************************************
			*/
			blockquote {
				color: #666666;
				margin: 1.5em 10px;
				padding: 0.5em 10px;
				quotes: &quot;\201C&quot;&quot;\201D&quot;&quot;\2018&quot;&quot;\2019&quot;;
			}
			blockquote:before {
				color: #666666;
				content: open-quote;
				font-size: 4em;
				line-height: 0.1em;
				margin-right: 0.15em;
				vertical-align: -0.4em;
			}
			blockquote p {
				display: inline;
			}
			/**
			* ***********************************************************
			* IFRAMES 
			* ***********************************************************
			*/
			iframe {
				border-radius: 10px;
			}
			/**
			* ***********************************************************
			* FOOTER HEADER 
			* ***********************************************************
			*/
			.pigeon-footer .social-links a {
				margin: 0 10px;
			}
			.pigeon-header {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-content: center;
				align-items: center;
			}
			.pigeon-header .title {
				margin:5px;
				font-weight: bold;
				font-size: 35px;
			}
			.pigeon-content {
				box-shadow: 0 5px 45px #0000002e;
				border: 1px solid #e8e8e8;
			}
			.content-header-title {
				text-shadow: 0px 0px 50px #00000066;
			}
			/**
			* ***********************************************************
			* RESPONSIVE
			* ***********************************************************
			*/
			@media only screen and (max-width: 600px) {
				.pigeon-header .title {
					font-size: 30px;
				}
				.content-header-title{
					font-size: 20px;
				}
				.pigeon-footer .social-links a,
				.pigeon-footer .copy  {
					margin: 0 8px;
					font-size: 14px;
				}
			}
			@media only screen and (max-width: 400px) {
				.pigeon-header .title {
					font-size: 25px;
				}
				.pigeon-footer .social-links a,
				.pigeon-footer .copy  {
					margin: 0 6px;
					font-size: 13px;
				}
			}
		</mj-style>
    </mj-head>
  	<!-- body -->
  	<mj-body css-class="pigeon-body" background-color="#f8f8f8">
	<!-- header -->
	<mj-section>
		<mj-column css-class="pigeon-header" vertical-align="middle">
			<mj-image width="320px" src="{{getAssetUrl('themes/'~template~'/assets/logo.png')}}" href="pigeonposse.com" target="_blank" css-class="logo" background-color="#351f53"/>
		</mj-column>
	</mj-section>
	<!-- content -->
	<mj-wrapper border-radius="10px" background-color="white" padding="0px" css-class="pigeon-content">
	    <!-- content header -->
	  <mj-section background-url="{{getAssetUrl('themes/'~template~'/assets/mail-header.png')}}" background-size="cover" padding="60px 5px 60px 5px">
		<mj-column>
		  <mj-text font-family="Helvetica" font-size="16px" align="center" color="white" css-class="content-header-title">
			<h1 style="line-height: 0;">{subject}
			</h1>
		  </mj-text>
		</mj-column>
	  </mj-section>
	    <!-- content message -->
	  <mj-section css-class="pigeon-content">
		<mj-column>
		  <mj-text font-family="Helvetica" color="#111" font-size="18px" padding="5px 15px">
			<h2 style="line-height:1px;padding: 0;margin: 0;">
			Hello <i>{contactfield=firstname}</i> 👋
			</h2>
		  </mj-text>
		  <mj-text font-family="Helvetica" color="#111" padding="15px" font-size="18px">
			<p>We haven't heard from you for a while...
			</p>
			<p>
			  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		  </mj-text>
		  <mj-button font-family="Helvetica" background-color="#351f53" color="white" align="left" font-size="18px" border-radius="20px" font-weight="bold" href="https://pigeonposse.com">Visit web!
		  </mj-button>
		</mj-column>
	  </mj-section>
	</mj-wrapper>
	<!-- footer -->
	<mj-wrapper css-class="pigeon-footer">
	  <mj-section>
		<mj-column>
		  <!-- social links -->
		  <mj-social font-size="12px" icon-size="24px" mode="horizontal">
			<mj-social-element
				name="custom" 
				src="{{getAssetUrl('themes/'~template~'/assets/social/github.png')}}" 
				href="https://github.com/PigeonPosse/"
				target="_blank" 
				padding="0 20px"
			>
			</mj-social-element>
			<mj-social-element 
				name="custom" 
				src="{{getAssetUrl('themes/'~template~'/assets/social/twitter.png')}}" 
				href="https://twitter.com/pigeonposse_"
				target="_blank" 
				padding="0 20px"
			>
			</mj-social-element>
			<mj-social-element 
				name="custom" 
				src="{{getAssetUrl('themes/'~template~'/assets/social/instagram.png')}}" 
				href="https://www.instagram.com/pigeon.posse/?hl=es"
				target="_blank" 
				padding="0 20px"
			>
			</mj-social-element>
		  </mj-social>
		  <!-- Web links -->
		  <mj-text font-family="Helvetica" color="#111" align="center" font-size="14px" padding="5px 0" css-class="social-links">
			<p>
				<a href="https://pigeonposse.com" style="color: #351f53; font-style: italic; text-decoration: none; margin: 0 10px; font-size:14px;" target="_blank">Web</a>
				<a href="https://pigeonposse.com?popup=about" style="color: #351f53; font-style: italic; text-decoration: none; margin: 0 10px; font-size:14px;" target="_blank">About</a>
				<a href="mailto:dev@pigeonposse.com" style="color: #351f53; font-style: italic; text-decoration: none; margin: 0 10px; font-size:14px;" target="_blank">Contact</a>
				<a href="https://pigeonposse.com?popup=donate" style="color: #351f53; font-style: italic; text-decoration: none; margin: 0 10px; font-size:14px;" target="_blank">Donate</a>
			</p>
		  </mj-text>
		  <!-- unsubscribe -->
		  <mj-text font-family="Helvetica" color="#111" padding="15px 0" align="center" css-class="mail-text">{unsubscribe_text} | {webview_text}
		  </mj-text>
		  <!-- copy -->
		  <mj-text font-family="Helvetica" color="#c5c5c5" padding="15px 0" align="center" css-class="copy">
			<p style="font-size:13px;">copyright © 2022</p>
		  </mj-text>
		</mj-column>
	  </mj-section>
	</mj-wrapper>
  </mj-body>
</mjml>